python-dotenv
jsonformatter
python-json-logger
requests
pytz
redis
flask-cors
Flask
Flask-Migrate
Flask-Seeder
sqlalchemy
pyyaml
apispec
marshmallow
greenlet
gevent
serverless_wsgi
boto3
pymysql
newrelic